.slider-container{
	margin: 0 10px 15px 10px;
	height:265px;
	list-style-type:none;
	overflow:hidden;
}

.slider-size-regulator{
	height:100%;
	overflow:hidden;
	display:flex;
}

.slider-item{
	height:100%;
	position:relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
}

.featured-movie-name{
	position:absolute;
	bottom:0;
	right:25px;
	background-color:rgb(59, 121, 214);
	padding:4px 6px;
	border-radius:3px;
	color:white;
	font-size:14px;
	font-weight:400;
}

.slider-image{
	width:100%;
}